.carousel-inner img {
      width: 100%;
  }

.cercle{
	border-radius: 250px;
}

.bouton_profil{
    color: black;
}

#fixe{
    height:200px;
}

ul#navigation_profil{
    list-style: none;
    padding: 0;
}

ul#navigation_profil li a{
    display: block;
    width: 150px;
    height: 60px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    color: rgb(0,0, 0);
    font-size: medium;
    font-weight: bold;

}
.bs-example{
    margin: 20px;
}

a#newsletter{
    display: block;
    padding: 1em 2em 1em 2em;
    border-radius: 2em;
    text-align: center;
    text-decoration: none;
    color: #424242;
    font-weight: bold;
    background-color:#5bc0de;
}